<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ecnu.traceability">
    <uses-permission-sdk-23 android:name="android.permission.LOCAL_MAC_ADDRESS" />
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /><!-- 内存读写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:icon="@drawable/trace"
        android:label="@string/app_name"
        android:roundIcon="@drawable/trace"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".HomepageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".data_analyze.LocationAnalysisActivity" />
        <activity android:name=".data_analyze.BluetoothAnalysisActivity" />

        <meta-data
            android:name="com.chinamobile.iot.onenet.APP-KEY"
            android:value="qsCeEuesQROBsUFzN4TcFaq2WzE=" /> <!-- OneNET api scheme -->
        <meta-data
            android:name="com.chinamobile.iot.onenet.SCHEME"
            android:value="https" /> <!-- OneNET server host -->
        <meta-data
            android:name="com.chinamobile.iot.onenet.HOST"
            android:value="api.heclouds.com" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7841366f94278842f6cbad268b492960" />

        <activity
            android:name=".location.ui.MapActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_mapactivity"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".judge.JudgeActivity" />
        <activity android:name=".information_reporting.InformationReportingActivity" />

        <service android:name="com.amap.api.location.APSService" /> <!-- 忘记添加服务的标签时不报错，但是不运行 -->
        <service
            android:name=".bluetooth.service.IBluetoothService"
            android:exported="false" />
        <service
            android:name=".location.service.ILocationService"
            android:exported="false" />
        <service
            android:name=".data_analyze.LocationAnalysisService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.mq.messenger.service" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service android:name=".data_analyze.RiskReportingService" />
        <service android:name=".location.service.FencesService" android:exported="true"/>

    </application>

</manifest>